# Lab 4
Working With Missing data

### Learning objectives
Upon successful completion of this lab, you will have demonstrated the abilities to:
1. Create missing values.
2. Recode and make calculations with missing values

In [1]:
import pandas as pd
from numpy import NaN, NAN, nan
import numpy as np

In [2]:
ebola = pd.read_csv('country_timeseries.csv')
ebola.shape

(122, 18)

In [3]:
ebola.head()

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
0,1/5/2015,289,2776.0,NaN,10030.0,NaN,NaN,NaN,NaN,NaN,1786.0,NaN,2977.0,NaN,NaN,NaN,NaN,NaN
1,1/4/2015,288,2775.0,NaN,9780.0,NaN,NaN,NaN,NaN,NaN,1781.0,NaN,2943.0,NaN,NaN,NaN,NaN,NaN
2,1/3/2015,287,2769.0,8166.0,9722.0,NaN,NaN,NaN,NaN,NaN,1767.0,3496.0,2915.0,NaN,NaN,NaN,NaN,NaN
3,1/2/2015,286,NaN,8157.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3496.0,NaN,NaN,NaN,NaN,NaN,NaN
4,12/31/2014,284,2730.0,8115.0,9633.0,NaN,NaN,NaN,NaN,NaN,1739.0,3471.0,2827.0,NaN,NaN,NaN,NaN,NaN

In [4]:
ebola.count()

Date                   122
Day                    122
Cases_Guinea            93
Cases_Liberia           83
Cases_SierraLeone       87
Cases_Nigeria           38
Cases_Senegal           25
Cases_UnitedStates      18
Cases_Spain             16
Cases_Mali              12
Deaths_Guinea           92
Deaths_Liberia          81
Deaths_SierraLeone      87
Deaths_Nigeria          38
Deaths_Senegal          22
Deaths_UnitedStates     18
Deaths_Spain            16
Deaths_Mali             12
dtype: int64

In [5]:
#print(ebola.count())
num_rows = ebola.shape[0]
num_missing = num_rows - ebola.count()
print(num_missing)

Date                     0
Day                      0
Cases_Guinea            29
Cases_Liberia           39
Cases_SierraLeone       35
Cases_Nigeria           84
Cases_Senegal           97
Cases_UnitedStates     104
Cases_Spain            106
Cases_Mali             110
Deaths_Guinea           30
Deaths_Liberia          41
Deaths_SierraLeone      35
Deaths_Nigeria          84
Deaths_Senegal         100
Deaths_UnitedStates    104
Deaths_Spain           106
Deaths_Mali            110
dtype: int64

1. Below is another way to count missing data in each of the columns of ebola dataset. Modify the code to display the percentage of missing values for each of the columns in ebola dataset.

In [6]:
missing_val_count_by_column = ebola.isnull().sum()
missing_val_count_by_column

Date                     0
Day                      0
Cases_Guinea            29
Cases_Liberia           39
Cases_SierraLeone       35
Cases_Nigeria           84
Cases_Senegal           97
Cases_UnitedStates     104
Cases_Spain            106
Cases_Mali             110
Deaths_Guinea           30
Deaths_Liberia          41
Deaths_SierraLeone      35
Deaths_Nigeria          84
Deaths_Senegal         100
Deaths_UnitedStates    104
Deaths_Spain           106
Deaths_Mali            110
dtype: int64

In [9]:
missing_val_by_percentage = (missing_val_count_by_column/ebola.shape[0])*100
for column in missing_val_by_percentage.index:
  print(f"{column}: {missing_val_by_percentage[column]:.2f}%")

Date: 0.00%
Day: 0.00%
Cases_Guinea: 23.77%
Cases_Liberia: 31.97%
Cases_SierraLeone: 28.69%
Cases_Nigeria: 68.85%
Cases_Senegal: 79.51%
Cases_UnitedStates: 85.25%
Cases_Spain: 86.89%
Cases_Mali: 90.16%
Deaths_Guinea: 24.59%
Deaths_Liberia: 33.61%
Deaths_SierraLeone: 28.69%
Deaths_Nigeria: 68.85%
Deaths_Senegal: 81.97%
Deaths_UnitedStates: 85.25%
Deaths_Spain: 86.89%
Deaths_Mali: 90.16%

2. What is the percentage of missing values for each of the  columns in ebola dataset. Use a for loop and np.count_nonzero() function. Your output should show the column name and the percentage of missing values.

In [10]:
ebola.columns # is a list of column names

Index(['Date', 'Day', 'Cases_Guinea', 'Cases_Liberia', 'Cases_SierraLeone',
       'Cases_Nigeria', 'Cases_Senegal', 'Cases_UnitedStates', 'Cases_Spain',
       'Cases_Mali', 'Deaths_Guinea', 'Deaths_Liberia', 'Deaths_SierraLeone',
       'Deaths_Nigeria', 'Deaths_Senegal', 'Deaths_UnitedStates',
       'Deaths_Spain', 'Deaths_Mali'],
      dtype='object')

In [11]:
np.count_nonzero(ebola['Deaths_Mali'].isnull())

110

In [12]:
for column in ebola.columns:
  num_missing = np.count_nonzero(ebola[column].isnull())
  percentage_missing = (num_missing / ebola.shape[0]) * 100
  print(f"{column}: {percentage_missing:.2f}%")

Date: 0.00%
Day: 0.00%
Cases_Guinea: 23.77%
Cases_Liberia: 31.97%
Cases_SierraLeone: 28.69%
Cases_Nigeria: 68.85%
Cases_Senegal: 79.51%
Cases_UnitedStates: 85.25%
Cases_Spain: 86.89%
Cases_Mali: 90.16%
Deaths_Guinea: 24.59%
Deaths_Liberia: 33.61%
Deaths_SierraLeone: 28.69%
Deaths_Nigeria: 68.85%
Deaths_Senegal: 81.97%
Deaths_UnitedStates: 85.25%
Deaths_Spain: 86.89%
Deaths_Mali: 90.16%

3. Show the columns that have more than 90% missing values. Write a for loop on missing_val_count_by_column pandas Series from above. missing_val_count_by_column.index will give the list of column names and missing_val_count_by_column[i] will give the count of missing values where i is a column name.

In [13]:
missing_val_count_by_column

Date                     0
Day                      0
Cases_Guinea            29
Cases_Liberia           39
Cases_SierraLeone       35
Cases_Nigeria           84
Cases_Senegal           97
Cases_UnitedStates     104
Cases_Spain            106
Cases_Mali             110
Deaths_Guinea           30
Deaths_Liberia          41
Deaths_SierraLeone      35
Deaths_Nigeria          84
Deaths_Senegal         100
Deaths_UnitedStates    104
Deaths_Spain           106
Deaths_Mali            110
dtype: int64

In [14]:
missing_val_count_by_column.index

Index(['Date', 'Day', 'Cases_Guinea', 'Cases_Liberia', 'Cases_SierraLeone',
       'Cases_Nigeria', 'Cases_Senegal', 'Cases_UnitedStates', 'Cases_Spain',
       'Cases_Mali', 'Deaths_Guinea', 'Deaths_Liberia', 'Deaths_SierraLeone',
       'Deaths_Nigeria', 'Deaths_Senegal', 'Deaths_UnitedStates',
       'Deaths_Spain', 'Deaths_Mali'],
      dtype='object')

In [15]:
missing_val_count_by_column['Date']

0

In [20]:
print("Columns having more than 90% of missing values: \n")
for column in missing_val_count_by_column.index:
  if (missing_val_count_by_column[column] / ebola.shape[0]) * 100 > 90:
    print(column)

Columns having more than 90% of missing values:

Cases_Mali
Deaths_Mali

4. Drop the columns that have more than 90% missing values.
        - define a list columns_to_drop containing the column names to drop
        - Create a new dataframe ebola_droppedCol
        - display the shape of the new dataframe.
        - print the number of missing values in ebola_droppedCol

In [21]:
columns_to_drop = []
for column in missing_val_count_by_column.index:
  if (missing_val_count_by_column[column] / ebola.shape[0]) * 100 > 90:
    columns_to_drop.append(column)

ebola_droppedCol = ebola.drop(columns=columns_to_drop)
print(ebola_droppedCol.shape)
print(ebola_droppedCol.isnull().sum().sum())

(122, 16)
994

#### Fill Backward

5. Answer each of the following questions:
    - Count the number of missing values in the dataframe after the fill backward imputation of missing values. show the first 10 rows and 5 columns after imputation.
    - Explain what changes have been made after fill backward imputation of the missing values and why.

In [29]:
ebola.iloc[0:10, 0:6]

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria
0,1/5/2015,289,2776.0,NaN,10030.0,NaN
1,1/4/2015,288,2775.0,NaN,9780.0,NaN
2,1/3/2015,287,2769.0,8166.0,9722.0,NaN
3,1/2/2015,286,NaN,8157.0,NaN,NaN
4,12/31/2014,284,2730.0,8115.0,9633.0,NaN
5,12/28/2014,281,2706.0,8018.0,9446.0,NaN
6,12/27/2014,280,2695.0,NaN,9409.0,NaN
7,12/24/2014,277,2630.0,7977.0,9203.0,NaN
8,12/21/2014,273,2597.0,NaN,9004.0,NaN
9,12/20/2014,272,2571.0,7862.0,8939.0,NaN

In [33]:
ebola_fill_backward = ebola.fillna(method='bfill')
print(f"Number of missing values after backward fill: {ebola_fill_backward.isnull().sum().sum()}")
print(ebola_fill_backward.iloc[0:10, 0:5])

'''
Explanation:
Backward fill (bfill) imputation replaces missing values with the value from the next valid observation in the same column. This means that if a cell has a missing value, it will be replaced with the value from the next row that has a non-missing value. This can be useful when the data has a temporal or sequential order and you believe the most recent valid value is a good approximation for the missing value. However, this approach can lead to biased estimates if the data is not ordered sequentially or if there are long stretches of missing data.
'''

Number of missing values after backward fill: 732
         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0         8166.0            10030.0
1    1/4/2015  288        2775.0         8166.0             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286        2730.0         8157.0             9633.0
4  12/31/2014  284        2730.0         8115.0             9633.0
5  12/28/2014  281        2706.0         8018.0             9446.0
6  12/27/2014  280        2695.0         7977.0             9409.0
7  12/24/2014  277        2630.0         7977.0             9203.0
8  12/21/2014  273        2597.0         7862.0             9004.0
9  12/20/2014  272        2571.0         7862.0             8939.0

<ipython-input-33-e5df0b4bb78f>:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  ebola_fill_backward = ebola.fillna(method='bfill')

'\nExplanation:\nBackward fill (bfill) imputation replaces missing values with the value from the next valid observation in the same column. This means that if a cell has a missing value, it will be replaced with the value from the next row that has a non-missing value. This can be useful when the data has a temporal or sequential order and you believe the most recent valid value is a good approximation for the missing value. However, this approach can lead to biased estimates if the data is not ordered sequentially or if there are long stretches of missing data. \n'

#### Fill forward

6. Answer each of the following questions:
    - Count the number of missing values in the dataframe after the fill forward imputation of missing values. Show the first 10 rows and 5 columns after imputation.
    - Explain what changes have been made after fill forward imputation of the missing values and why.

In [34]:
ebola.iloc[0:10, 0:6]

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria
0,1/5/2015,289,2776.0,NaN,10030.0,NaN
1,1/4/2015,288,2775.0,NaN,9780.0,NaN
2,1/3/2015,287,2769.0,8166.0,9722.0,NaN
3,1/2/2015,286,NaN,8157.0,NaN,NaN
4,12/31/2014,284,2730.0,8115.0,9633.0,NaN
5,12/28/2014,281,2706.0,8018.0,9446.0,NaN
6,12/27/2014,280,2695.0,NaN,9409.0,NaN
7,12/24/2014,277,2630.0,7977.0,9203.0,NaN
8,12/21/2014,273,2597.0,NaN,9004.0,NaN
9,12/20/2014,272,2571.0,7862.0,8939.0,NaN

In [36]:
ebola_fill_forward = ebola.fillna(method='ffill')
print(f"Number of missing values after forward fill: {ebola_fill_forward.isnull().sum().sum()}")
print(ebola_fill_forward.iloc[0:10, 0:5])

'''
Explanation:
Forward fill (ffill) imputation replaces missing values with the value from the previous valid observation in the same column. This means that if a cell has a missing value, it will be replaced with the value from the previous row that has a non-missing value. This approach can also be useful when the data has a temporal or sequential order, and you believe the most recent value before the missing value is a good approximation. Similar to bfill, it can lead to biased estimates if the data is not ordered sequentially or if there are long stretches of missing data.
'''

Number of missing values after forward fill: 134
         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0            NaN            10030.0
1    1/4/2015  288        2775.0            NaN             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286        2769.0         8157.0             9722.0
4  12/31/2014  284        2730.0         8115.0             9633.0
5  12/28/2014  281        2706.0         8018.0             9446.0
6  12/27/2014  280        2695.0         8018.0             9409.0
7  12/24/2014  277        2630.0         7977.0             9203.0
8  12/21/2014  273        2597.0         7977.0             9004.0
9  12/20/2014  272        2571.0         7862.0             8939.0

<ipython-input-36-ff07238a9695>:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  ebola_fill_forward = ebola.fillna(method='ffill')

'\nExplanation:\nForward fill (ffill) imputation replaces missing values with the value from the previous valid observation in the same column. This means that if a cell has a missing value, it will be replaced with the value from the previous row that has a non-missing value. This approach can also be useful when the data has a temporal or sequential order, and you believe the most recent value before the missing value is a good approximation. Similar to bfill, it can lead to biased estimates if the data is not ordered sequentially or if there are long stretches of missing data.\n'

7. Answer each of the following questions:
    - Replace the missing values with backward fill method, next apply forward fill method.
    - print the number of missing values after imputation.

In [38]:
ebola_fill_backward_forward = ebola.fillna(method='bfill').fillna(method='ffill')
print(f"Number of missing values after backward and forward fill: {ebola_fill_backward_forward.isnull().sum().sum()}")

Number of missing values after backward and forward fill: 0

<ipython-input-38-290318f4c8ad>:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  ebola_fill_backward_forward = ebola.fillna(method='bfill').fillna(method='ffill')

8. Replace the missing values using a linear interpolation and print the top rows of the dataset.

In [40]:
ebola_linear_interpolation = ebola.interpolate(method='linear')
ebola_linear_interpolation.head()

<ipython-input-40-9c7eaf11b2a0>:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  ebola_linear_interpolation = ebola.interpolate(method='linear')

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
0,1/5/2015,289,2776.0,NaN,10030.0,NaN,NaN,NaN,NaN,NaN,1786.0,NaN,2977.0,NaN,NaN,NaN,NaN,NaN
1,1/4/2015,288,2775.0,NaN,9780.0,NaN,NaN,NaN,NaN,NaN,1781.0,NaN,2943.0,NaN,NaN,NaN,NaN,NaN
2,1/3/2015,287,2769.0,8166.0,9722.0,NaN,NaN,NaN,NaN,NaN,1767.0,3496.0,2915.0,NaN,NaN,NaN,NaN,NaN
3,1/2/2015,286,2749.5,8157.0,9677.5,NaN,NaN,NaN,NaN,NaN,1753.0,3496.0,2871.0,NaN,NaN,NaN,NaN,NaN
4,12/31/2014,284,2730.0,8115.0,9633.0,NaN,NaN,NaN,NaN,NaN,1739.0,3471.0,2827.0,NaN,NaN,NaN,NaN,NaN

#### Short answer questions

9. Write a paragraph to highlight the differences between the fill foward/backward versus linear interpolation of the missing values.

In [ ]:
'''
Forward fill and backward fill methods are useful for handling missing values in time series data or data with a natural order. They essentially propagate the last known value forward or the next known value backward, respectively. These methods are simple and can be effective when the missing values are likely to be similar to the preceding or following values. However, they can introduce bias if the data has significant variations or trends.

Linear interpolation, on the other hand, estimates missing values by assuming a linear relationship between the surrounding data points. It draws a straight line between the known values and estimates the missing values based on this line. This method is more sophisticated than forward/backward fill and can be more accurate in cases where there is a gradual trend in the data. However, it may not be appropriate if the underlying relationship is non-linear.

In summary, forward/backward fill is suitable for data with a clear order and where missing values are expected to be close to the neighboring values. Linear interpolation is more suitable for data with a smooth, gradual trend, but it may not be accurate if the relationship between data points is non-linear or if there are sudden changes in the data.
'''

10. Time series interpolation works by calling interpolate with the option method='time'.
    - Explain how is it different than the linear interpolation?
    - when do linear and time interpolation give the same results?

In [ ]:
'''
1. Time series interpolation, specifically using `method='time'`, considers the time index of the data when interpolating missing values. It estimates the missing values based on the time elapsed since the previous and next valid observations. This is especially useful when dealing with time-dependent data, where the relationship between values is influenced by time itself.

Linear interpolation, on the other hand, simply estimates the missing values based on a linear relationship between the preceding and succeeding values, regardless of the time index. It draws a straight line between these values and uses it to estimate the missing values.


2. Linear and time interpolation will produce the same results when the data's time index is evenly spaced, and the relationship between the data points is truly linear. If the time intervals are consistent, and there are no time-specific patterns or variations, then linear interpolation will effectively approximate the values as if they were based on time.

However, when dealing with time series data where time intervals are uneven or there are seasonal or trend-related effects, time series interpolation with `method='time'` will produce more accurate results. For example, if the data has a cyclical pattern or specific trend over time, time series interpolation can better capture these variations.
'''